@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}